
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  text-align: center;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  background-image: url(../img/rainbow.png);
  background-repeat: repeat;
  background-size: contain;
}

h1 {
    font-family: "Comic Sans MS";
    color: white
}

button {
  font-family: "Comic Sans MS";
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

button:hover {
    background-color: Yellow;
    color: Black;
}

.scoreboard {
  font-family: "Comic Sans MS";
  width: 75%;
  background-color: red;
  border: 4px solid black;
  margin-top: 60px;
  display: inline-block;
}

.frame {
  margin-left: 400px;
  margin-top: 0;
  height: 100%;
  width: 800px;
}

#frames {
  height: 330px;
  width: 460px;
  border: none;
  position: relative;
  bottom:460px;
  left:600px;
}

#unicorn {
  width: 80px;
}
